{% extends "layout.html" %}
{% block body_content %}
<br>
<br>
<h1> Welcome to MuseMe </h1>
<p> A harmonious combination of Music and Me. Pretty nifty right? &#128521 </p>
<p>  In light of the growing benefits of music theraphy and it's positive effect on people's emotional and mental wellbeing, we decided to play our part by making an app that allows you to find music based on your mood and the activities you're to embark on </p>

<h4 class="text-info"> The Tour </h4>
<p>Once you sign-in you can start uploading music to the app straight away and it  will be instantly available for others to listen to on the go. Listeners can also add your song to their personal playlist</p>

<p><b><i>So now that you know all this, why dont you register and get started today</i></b></p>
{% endblock body_content %}
