{% extends "layout.html" %}
{% block body_content %}

<div class ='form''h-25 d-inline-block' >
<br>
<form method='POST' action=''>
	{{ form.hidden_tag() }}
	{{ form.search.label }}
	{{ form.search }}
	{{ form.submit }}

</form>
{% for result in results %}
{{result.title}}
{{result.category}}
<a href="{{result.link}}">Link</a>

{% endfor %}

</div>
<center><h2 class="h2">Take a look at our library of music </h2></center>

<div class="musicdiv">
    <table class="table">
		<thead class="thead-dark">

			<th scope="col1">Music Name </th>
			<th scope="col1">Creator </th>
			<th scope="col1">Date </th>
			<th scope="col1">Mood/Activity</th>
			<th scope="col1">Link</th>
			<th scope="col1">Option</th>

        </thead>
		{% for upload in uploads %}

		<tr>

			<td> {{ upload.title }}</td>
			<td>{{ upload.creator.first_name }} {{ upload.creator.last_name }} </td>
			<td> {{ upload.date_posted }} </td>
			<td> {{ upload.category }} </td>
			<td> <a class="btn btn-info" role= "button" href="{{ upload.link }}">Link</a> </td>
			<td> <a class="btn btn-info" role= "button" href="{{ url_for("add", id=upload.id) }}">Add Song</a> </td>
		</tr>

		<br>
		<br>

			{% endfor %}


	
	</table>


</div>

{% endblock %}
