{% extends "layout.html" %}
<h3>>Take a look at our repository of music </h3>
{% block body_content %}

<div class ='form'>
	<br>
<form method='POST' action=''>
	{{ form.hidden_tag() }}
	{{ form.search.label }}
	{{ form.search }}
	{{ form.submit }}

</form>
	
</div>
<br>
<div>
{% for result in results %}
{{result.title}}
{{result.category}}
<a href="{{result.link}}">Link</a>

{% endfor %}
</div>
<br>
<br>
<div>
	<table>
		<tr>

			<th>Music Name </th>
			<th>Creator </th>
			<th>Date </th>
			<th>Mood/Activity</th>
			<th>Link</th>
		</tr>
		{% for upload in uploads %}

		<tr>

			<td> {{ upload.title }}</td>
			<td>{{ upload.creator.first_name }} {{ upload.creator.last_name }} </td>
			<td> {{ upload.date_posted }} </td>
			<td> {{ upload.category }} </td>
			<td> <a href="{{ upload.link }}">Link</a> </td>
			<td> <a href="{{ url_for("add", id=upload.id) }}">Add Song</a> </td>
		</tr>

		<br>
		<br>

			{% endfor %}


	
	</table>


</div>

{% endblock %}
